//! **************************************************************************
// Written by: Map P.20131013 on Mon Feb 19 16:42:37 2018
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "E3" LEVEL 1;
COMP "Q<0>" LOCATE = SITE "V17" LEVEL 1;
COMP "Q<1>" LOCATE = SITE "U17" LEVEL 1;
COMP "Q<2>" LOCATE = SITE "U16" LEVEL 1;
COMP "M" LOCATE = SITE "R13" LEVEL 1;
COMP "reset" LOCATE = SITE "M18" LEVEL 1;
COMP "step" LOCATE = SITE "P18" LEVEL 1;
COMP "X" LOCATE = SITE "J15" LEVEL 1;
COMP "Z" LOCATE = SITE "H17" LEVEL 1;
SCHEMATIC END;

